<div >
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
        <p class="aa">Home</p>
        <a href="find" class="ab">Find Service Provider</a>
        <!-- <a href="login1" class="ab">Login</a> -->
        <!-- <a href="register1" class="ab">Register Service Provider</a> -->
        <a href="admincall" class="ab">BookPart</a>
        <p class="as">.</p>      
        <p class="as">.</p>  
        <p class="as">.</p>  
        <p class="as">.</p>    
        <button type="button" (click)="butt()" class="btn btn-danger">LogOut</button> 
        </div>
      </nav>
    </div>