<h1 class="ab"><br>HOMTENANCE<i class="bi bi-house-fill a1"></i></h1>
<div>
    <div>
      
    </div>
    
    <form [formGroup]="registerform">
        <!-- <img src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZmlsZXxlbnwwfHwwfHw%3D&w=1000&q=80 a1"> -->
        <h1 class="ac">Register</h1>
        <input type="text"placeholder="Username" formControlName="username1"><br>
        <input type="email"placeholder="E-mail"formControlName="email1"><br>
        <input type="password"placeholder="password"formControlName="password1"><br>
        <input type="text"placeholder="place"class="aa" formControlName="place1"><br>
        <input type="text"placeholder="District"class="aa" formControlName="district1"><br><br>
        <button type="button"(click)="register()" class="btn btn-warning">Signin</button><br><br>
        <P>Already a user?<a href="login">Login</a></P>
    </form>
    
</div>