div{
    display: flex;
    justify-content: center;
}
form{
    width: 340px;
    height: 600px;
    background-color: black;
    margin-top: 30px;
    /* text-align: center; */
}
h1{
    font-size: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:orange;
    margin-left:40px;
    margin-top: 20px;
    /* height: 20px; */
}

i{
    color: white;
    margin-left:-236px;
    font-size: 30px;
    color: white;
    /* margin-top: -88px; */
}
.az{
    font-size: 40px;
    color: white;
    margin-top: -48px;
    margin-left: 66px;
    font-family:serif;
}
input{
    margin-left: 40px;
    padding-right: 68px;
}
label{
    margin-left: 40px;
    color: white;
}
button{
    margin-left: 40px;
    margin-top: 24px;
    padding-left: 96px;
    padding-right: 96px;
    color: white;
    background-color: orange;
    border: none;
}
