
<div >
<form [formGroup]="registersform">
    <h1>HOMTENANCE<i class="bi bi-house-fill a1"></i><p class="az">homtenance</p></h1>
    <label for="">Name</label><br>
<input type="text" placeholder="text"formControlName="name1"><br>
<label for="">Condact No.</label><br>
<input type="Number" placeholder="Number"formControlName="number1"><br>
<label for="">Address Line1</label><br>
<input type="text" placeholder="Address Line1"formControlName="address1"><br>
<label for="">Address Line2</label><br>
<input type="text" placeholder="Address Line1"formControlName="address21"><br>
<label for="">City</label><br>
<input type="text"  placeholder="City"formControlName="city1"><br>
<!-- <label for="">Photo</label><br>
<input type="none" class="aq" placeholder="Choose File"><br> -->
<label for="">Add Discription</label><br>
<input type="text" placeholder="Discription"formControlName="dis1"><br>
<label for="">Password</label><br>
<input type="password" placeholder="Password"formControlName="password1"><br>
<label for="">Proffesion</label><br>
<input type="text" placeholder="Proffetion"formControlName="proffetion1"><br>
<button type="button" (click)="regis1()">Register</button>
</form>
</div>