<div>
    <form >
        <h1>BOOK
        <img src="https://media.istockphoto.com/photos/headshot-of-cheerful-handsome-man-with-trendy-haircut-and-eyeglasses-picture-id1171169127?b=1&k=20&m=1171169127&s=170667a&w=0&h=EhnDHqf3YPp71FK23x_ZyFPhMLKCk_ZyNchiPE93ESw="></h1>
        <label for="">NAME:{{name}}</label><br>
        <label for="">CONDACT NO:{{condact}}</label><br>
        <label for="">CITY:{{city}}</label><br>
        <label for="">DISCRIPTION:{{discription}}</label><br>
        <label for="">PROFFESION:{{proffetion}}</label><br>
        <button type="button" (click)="book()"class="btn btn-success">Booked</button>
        <button type="button" (click)="remove()" class="btn btn-danger">Remove</button>
    </form>
</div>
