h1{
    font-size: 110px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:orange;
    margin-top: 60px;
    /* height: 20px; */
}
i{
    color: white;
    margin-left:-522px;
    font-size: 70px;
    color: white;
}
.a2{
    font-size: 70px;
    color: white;
    margin-top: -90px;
    margin-left: 130px;
    font-family:serif;
}
.a3{
    /* color: orange; */
    margin-left: 1310px;
    font-size: 30px;
    margin-top: px;
    background-color: red;
    border-radius: 10px;
}
.a4{
    /* color: black; */
    margin-left: 1310px;
    font-size: 30px;
    margin-top: px;
    background-color: blue;
    border-radius: 10px;
}
.a5{
    /* color: orange; */
    background-color: green;
    margin-left: 1310px;
    font-size: 30px;
    margin-top: px;
    border-radius: 10px;
    /* border: none; */
}
div{
   /* margin-left: 1250px; */
  margin-top: 130px;
}
.a8{
    color: white;
    margin-left: 770px;
}
.a6{
    color: white;
    margin-left: 265px;
    margin-bottom: -80px;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: orange;
    font-size: 40px;
    font-weight: bold;
    margin-left: 500px;
    margin-top: 1000px;
    /* border: 1px solid white;
    border-radius: 7px; */
}
