<h1 class="ab"><br>HOMTENANCE<i class="bi bi-house-fill a1"></i></h1>
<div>
    <div>
      
    </div>
    
    <form [formGroup]="adminloginform">
        <h1 class="ac">Login</h1>
        <i class="bi bi-person-fill ad"></i>
        <input type="email"placeholder="E-mail"formControlName="email1"><br>
        <i class="bi bi-key-fill ad"></i>
        <input type="password"placeholder="password"formControlName="password1"><br><br>
        <button (click)="login()" type="button" class="btn btn-warning">Login</button>
    </form>
    
</div>
